table.classy {
  border: 1px solid #1C6EA4;
  background-color: #000277;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.classy td, table.classy th {
  border: 1px solid #9fd0e7;
  padding: 3px 2px;
}
table.classy tbody td {
  font-size: 13px;
}
table.classy tr:nth-child(even) {
  background: #202830;
}
table.classy thead {
  background: #003152;
  background: -moz-linear-gradient(top, #00253d 0%, #053c61 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #00253d 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #00253d 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.classy thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.classy thead th:first-child {
  border-left: none;
}


button {
  padding-left: 20px;
  padding-right: 20px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  font-size: 20px;
  background-color: rgb(15, 20, 29);
}
nav {
  text-align: left;
  /* height: 50px; */
  background-color: #3c424f;
}
.divider {
  width:50px;
  height:auto;
  display:inline-block;
}
.right {
  text-align: right;
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
